<div style="height: 50px"></div>
<div class="w-50 m-auto shadow " style="padding: 2rem 4rem 4rem;">
    <h5 class="text-center">Please login to continue!</h5>
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label
                for="userName"
                class="small"
                [ngClass]="{'text-danger': loginForm.get('userName').invalid && loginForm.get('userName').touched
                    || loginForm.get('userName').errors?.serverError}"
            >
                Username:
            </label>
            <input
                type="text"
                id="userName"
                formControlName="userName"
                name="userName"
                placeholder="Username"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('userName').invalid && loginForm.get('userName').touched
                    || loginForm.get('userName').errors?.serverError}"
            />
            <small *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched && !loginForm.get('userName').errors?.serverError" class="text-danger">
                Please enter a username
            </small>
            <small *ngIf="loginForm.get('userName').errors?.serverError" class="text-danger">
                {{loginForm.get('userName').errors['serverError']}}
            </small>
        </div>

        <div class="form-group">
            <label
                for="password"
                class="small"
                [ngClass]="{'text-danger': loginForm.get('password').invalid && loginForm.get('password').touched
                    || loginForm.get('password').errors?.serverError}"
            >
                Password:
            </label>
            <input
                type="password"
                id="password"
                formControlName="password"
                name="password"
                class="form-control"
                [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched
                    || loginForm.get('password').errors?.serverError}"
            />
            <small *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="text-danger">
                Please enter a password
            </small>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark form-control" (click)="onSubmit()">Login</button>
    </form>
</div>
